.user-head{
    padding-top: 100px;
    margin-bottom: 30px;
    .title-wrap{
        margin-bottom: 10px;
        img{
            width: 50px;
            margin-right: 20px;
        }
        .title{
            font-size: 32px;
            font-weight: bold;
            color: rgb(56, 56, 56);
        }
    }
}